# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# Environment variables
.env

# Database files
*.db
instance/

# Flask
*.log
flask_session/

# VS Code
.vscode/

# Mac
.DS_Store

# Docker
*.tar

# Pytest / coverage
.coverage
htmlcov/

# Migrations (if you add Flask-Migrate later)
migrations/